.deploys/
.deps/
.prettierrc.json
hardhat/contracts/artifacts
hardhat/temp/

deployments/
.DS_Store
.cursor/
CURSOR.md
flutter/android/app/google-services.json
flutter/firebase.json
flutter/lib/firebase_options.dart
flutter/ios/Runner/GoogleService-Info.plist
flutter/.firebaserc
flutter/.env
.vscode/settings.json

# Branch keys
flutter/android/app/src/main/res/values/branch_keys.xml
flutter/lib/utils/secret_constants.dart
flutter/android/.kotlin/
